.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Little_game_of_webpage/CopilotIndices/18.3.180.61135/CodeChunks.db
.vs/Little_game_of_webpage/CopilotIndices/18.3.180.61135/SemanticSymbols.db
.vs/Little_game_of_webpage.slnx/config/applicationhost.config
.vs/Little_game_of_webpage.slnx/copilot-chat/2db945bb/sessions/08b52562-9608-4652-8dbe-500d9c2a5e60
.vs/Little_game_of_webpage.slnx/FileContentIndex/b8e4e266-5066-48f4-8743-81a52bbf5d3b.vsidx
.vs/Little_game_of_webpage.slnx/v18/.wsuo
.vs/Little_game_of_webpage.slnx/v18/DocumentLayout.backup.json
.vs/Little_game_of_webpage.slnx/v18/DocumentLayout.json
